.wrapper {
  display: flex;
}

.select {
  height: 32px;
  border: none;
  padding: 5px;
  outline: none;

  background: #fff;
  color: var(--text-primary);

  font-size: 16px;
  font-weight: 500;

  line-height: 100%;
  letter-spacing: -2%;
}

.select:hover {
  cursor: pointer;
}
