:root {
  --bg: #fff;
  --bg-secondary: #f6f7f9;
  --text-primary: #182a42;
  --text-secondary: #8090a4;
  --primary: #43a0fd;
  --border: #dde4ef;
  --container-width: 1450px;
  --accent-blue: #43a0fd;
  --accent-light-blue: #e8f4ff;
  --gradient-main: linear-gradient(90deg, #003181 0%, #2288ed 100%);
  --header-height: 110px;
  --footer-height: 80px;
  --system-red: #ff2741;
}
