.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;

  font-weight: 500;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
}

.imageLink {
  display: block;
}

.imageWrap {
  height: 347px;
  background: #f2f4f7;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  max-width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.imageWrap:hover .image {
  transform: scale(1.1);
}

.title {
  min-height: 60px;
  font-size: 18px;

  line-height: 140%;

  font-weight: 500;
  color: var(--text-primary);
  vertical-align: middle;
}

.ratingRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reviewCount {
  color: var(--text-secondary);
  font-size: 12px;
}

.metaRow {
  display: flex;
  gap: 20px;
}

.category {
  font-size: 14px;
  color: var(--text-secondary);
}
